.App {
  color: var(--primary-color);
}
.header {
  text-decoration: none;
}

.header .nav-area {
  height: 2.53rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}
.nav-area a {
  text-decoration: none;
  font-size: 1.3rem;
}

.header .search-area {
  height: 2.53rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-area label {
  margin-right: var(--min-spacer);
  border: 1px solid var(--border-color);
  border-radius: var(--min-spacer);
  background-color: var(--primary-color);
  padding-inline: var(--min-spacer);
  color: white;
}
.search-area input {
  border: 1px solid var(--border-color);
  border-radius: var(--min-spacer);
  padding-inline: var(--min-spacer);
  color: #191919;
  outline: none;
}
.card {
  box-shadow: rgba(5, 5, 93, 0.15) 0px 2px 2px -1px,
    rgba(0, 0, 0, 0.2) 0px 1px 3px -1px !important;

  border-color: rgb(238, 242, 247) !important;
  border-radius: var(--radius-size) !important;
  display: flex;
  padding: 0.5rem;
}
