/* load spinner */
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/spinner.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

body,
html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #2470b5 !important;
  --border-color: #e6e6e4 !important;
  --radius-size: 0.3rem !important;
  --min-spacer: 0.3rem;
}
