/* load spinner */
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/spinner.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;400&display=swap");

body,
html {
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #2470b5 !important;
  --border-color: #e6e6e4 !important;
  --bar-color: #bcbcba !important;
  --radius-size: 0.1rem !important;
  --min-spacer: 0.3rem;
  --common-shadow: rgba(5, 5, 93, 0.15) 0px 2px 2px -1px,
    rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
}
